In [0]:
import pandas as pd
from glob import glob  #glob for merging data with similar names

In [0]:
filename = glob('/content/drive/My Drive/data_s/data_s_*.csv') #all files with pattern data_s_*

In [0]:
dfs = [] #create empty list
for f in filename: #iterate over filename
    dfs.append(pd.read_csv(f))  #read and append all the files
len(dfs)

32

In [0]:
up_school_data = pd.concat(dfs, ignore_index=True)  #concat all files

In [0]:
up_school_data.head()  #check the head

   Unnamed: 0 Instruction_Medium  ...  Ramps_for_Disable Computers
0           0              Hindi  ...                Yes         1
1           1              Hindi  ...                Yes         1
2           2              Hindi  ...                Yes         1
3           3              Hindi  ...                Yes         0
4           4              Hindi  ...                Yes         0

[5 rows x 40 columns]

In [0]:
up_school_data.drop('Unnamed: 0',axis=1,inplace=True) #drop unnamed: 0

In [0]:
up_school_data.shape #check the shape

(234276, 39)

In [0]:
#save the data
up_school_data.to_csv('up_school_data')
!cp up_school_data '/content/drive/My Drive/data_s'